NEXT_PUBLIC_SUPABASE_URL=https://utifzkdeswjxffxgksha.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0aWZ6a2Rlc3dqeGZmeGdrc2hhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNzU1NzEsImV4cCI6MjA5NDY1MTU3MX0.0MOrFy4gnXJT8uGdbszVSlIrWsZ_6rElPRg74lguamU
